
  <div class="row">
    <div class="col-sm-6">
      <div class="range">
        <input type="range" #rangeVal="ngModel" [(ngModel)]="range" min="1" max="1000" value="260" class="slider" id="myRange">
        <p class="range-text">Bias Detected <span style="font-size: 50px;">{{range}}</span></p>
      </div>
        
    </div>
    <div class="col-sm-6">
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [fill]="chartOptions.fill"
              [stroke]="chartOptions.stroke"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
          </div>
    </div>
  </div>